@model WebJdr.Models.Sequence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sequence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HierchicalLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HierchicalLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paragraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paragraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
